

li{
  display: inline-block;
  list-style-type: none;
  padding: 10px
}
li {
  display: inline;
  margin: 2px 15px 0px 15px;
}

.container{
  display: flex;
  align-items:center;
  justify-content:center;
}

.container > div{
  flex-basis: 45%
}

/* testing  */

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  text-align: center;
}

li {
  float: center;
  display: inline-block;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}

h1{
  text-align: center;
  padding: 25px 0px 25px 0px;
}

h3{
  text-align: center;
}